*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: #FCFCFC;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav */
nav{
    background-color: #fff;
    padding: 8px 0;
}
.navbar img{
    max-width: 125px;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    cursor: pointer;
}

/* head */
.head{
    background-image: url(/B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 0;
    
}
.head span{
    color: #30AB64;
    background-color: #fff;
    border-radius: 20px;
    padding: 6px 14px;
    font-size: 20px;
    font-weight: bold;
}
.head .wh{
    font-size: 70px;
    margin: 20px 0;
    font-weight: bold;
    color: #fff;
}
.head .gr{
    font-size: 70px;
    margin: 20px 0;
    font-weight: bold;
    color: #30AB64;
}
.head p{
    font-size: 20px;
    color: #fff;
    margin: 20px 0;
    line-height: 1.5;
}
.head button{
    cursor: pointer;
}   
.green{
    background-color: #469165;
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.green img{
    width: 12px;
}
.nobg{
    color: #fff;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #fff;
}
.head button:hover{
    opacity: 0.9;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
/* note */
.note-header{
    text-align: center;
    margin: 60px 0 40px 0;

}
.note-header h2{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}
.note-header p{
    font-size: 13px;
    color: #555;
}
.note-cards{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.note-cards .card{
    max-width: 20%;
    background-color: #fff;
    padding: 20px 20px;
    text-align: center;
}
.note-cards .card img{
    background-color: #F95555;
    padding: 10px;
    border-radius: 50%;
    margin: 8px 0;
}
.note-cards .card h3{
    color: #011A32;
    font-size: 20px;
    margin: 0 0 10px 0;
}
.note-cards .card p{
    font-size: 14px;
    color: #70808D;
    line-height: 1.5;
}
.note-cards .card:hover{
    box-shadow: 0 4px 8px rgba(10, 10, 10, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

/* second brain */
.second-brain{
    background-color: #F5F9FF;
    padding: 80px 0;
}
.second-brain .second-brain-content{
    display: flex;
    gap: 30px;
    align-items: center;
}
.second-brain .second-brain-image img{
    max-width: 450px;
}
.second-brain-text{
    padding-right: 330px;
}
.second-brain-text h1{
    font-size: 14px;
    color: #30AB64;
    font-weight: normal;
}
.second-brain-text h2{
    font-size: 40px;
    color: #011A32;
    margin: 8px 0;
    font-weight: bold;
}
.second-brain-text h3{
    font-size: 12px;
    color: #011a327c;
    font-weight: normal;
    margin: 10px 0;
}
.second-brain-text span{
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #011A32;
    margin: 10px 0;
}
.second-brain-text span img{
    max-width: 15px;
}

/* early access */
.early-access{
    background-color: #F5F4F1;
    color: #fff;
    text-align: center;
    padding: 60px 0;
}
.early-access h2{
    color: #011A32;
    font-size: 40px;
    font-weight: bold;
}
.early-access h3{
    font-size: 14px;
    font-weight: normal;
    color: #70808D;
    margin: 15px 0 20px 0;
}
.early-access p{
    color: #70808D;
    font-size: 10px;
    font-weight: normal;
    margin: 10px 0;
}

/* footer */
.footer{
    background-color:#1B3146;
    padding: 50px 0 5px 0;
    color: #fff;
}
.end{
    text-align: center;
    color: #fff;
}
.end p{
    font-size: 10px;
    font-weight: normal;
}
.white-line{
    background-color: #fff;
    height: 1px;
    margin: 20px auto;
}

.line{
    width: 100%;
    height: 20px;
    background-color: #001931;
}