*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FBFBFB;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav */
nav{
    background-color: #fff;
    padding: 20px 0;
}
.navbar img{
    max-width: 125px;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

/* head */
.head{
    background-image: url(/B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 150px;
    
}
.head span{
    color: #30AB64;
    background-color: #fff;
    border-radius: 20px;
    padding: 6px 14px;
    font-size: 20px;
    font-weight: bold;
}
.head .wh{
    font-size: 80px;
    margin: 20px 0;
    font-weight: bold;
    color: #fff;
}
.head .gr{
    font-size: 80px;
    margin: 20px 0;
    font-weight: bold;
    color: #30AB64;
}
.head p{
    font-size: 24px;
    color: #fff;
    margin: 20px 0;
    line-height: 1.5;
}
.head button{
    cursor: pointer;
}   
.green{
    background-color: #469165;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 13px;
    border-radius: 8px;
    margin-right: 10px;
}
.nobg{
    color: #fff;
    font-size: 18px;
    padding: 13px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #fff;
}
.head button:hover{
    opacity: 0.9;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
/* note */
.note-header{
    text-align: center;
    margin: 60px 0 40px 0;

}
.note-header h2{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}
.note-header p{
    font-size: 13px;
    color: #555;
}
.note-cards{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.note-cards .card{
    max-width: 20%;
    background-color: #fff;
    padding: 20px 20px;
    text-align: center;
}
.note-cards .card img{
    background-color: #F95555;
    padding: 10px;
    border-radius: 50%;
    margin: 8px 0;
}
.note-cards .card h3{
    color: #011A32;
    font-size: 20px;
    margin: 0 0 10px 0;
}
.note-cards .card p{
    font-size: 14px;
    color: #70808D;
    line-height: 1.5;
}
.note-cards .card:hover{
    box-shadow: 0 4px 8px rgba(10, 10, 10, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}