/* Web first design */
/* //laptop device */
@media screen and (max-width: 1200px){

}
/* //tablet device */
@media screen and (max-width: 992px){

}
/* //Big mobile device */
@media screen and (max-width: 768px){

}
/* //normal mobile device */
@media screen and (max-width: 576px){

}
/* device specefic media query */
@media screen and (min-width: 576px) and (max-width: 992px){

}